@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

.suggestionsPageHeader {
  background: radial-gradient(128.88% 128.88% at 103.9% -10.39%, #E84D70 0%, #A337F6 53.09%, #28A7ED 100%);

  img {
    padding-block: 27px;
    cursor: pointer;
  }
}


/* akif baslangic */

/* Main Page Component start */

.feedbackList {
  padding-inline: 24px;
  margin-top: 32px;
}

.feedback {
  padding: 24px;
  background-color: white;
  margin-bottom: 16px;
  border-radius: 10px;
}

.feedback h5 {
  color: rgba(58, 67, 116, 1);
  font-weight: 700;
  font-size: 13px;
  line-height: 18.79px;
  letter-spacing: -0.18px;
  padding: 6px 16px;
  background-color: white;
}

.feedback p {
  margin-block: 8px;
}

.feedback button {
  border: none;
}

.button-flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}


/* Main Page Component end */


/* Detail Page Component start */

.detailPage {
  padding: 24px;
}

.detailPageHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.goBack {
  color: rgba(100, 113, 150, 1);
  font-weight: 700;
  font-size: 13px;
  line-height: 18.79px;
  letter-spacing: 0px;
}

.editBtn {
  background-color: rgba(70, 97, 230, 1);
  color: white;
  padding: 10px 16px;
}








.detailPageFeedback {
  background-color: white;
  margin-block: 24px;
  padding: 24px;
  border-radius: 10px;

  h5 {
    color: rgba(58, 67, 116, 1);

  }

  p {
    color: rgba(100, 113, 150, 1);
    font-weight: 400;
    font-size: 13px;
    line-height: 18.79px;
    letter-spacing: 0px;
    margin-block: 10px;
  }
}


.commentsSection {
  padding: 24px;
  background-color: white;
}

.commentsSection h5 {
  color:rgba(58, 67, 116, 1);
  font-weight: 700;
  font-size: 18px;
  line-height: 26.01px;
  letter-spacing: -0.25px;
  margin-bottom: 24px;
}

.commentsList p {
  color: rgba(100, 113, 150, 1);
  margin-top: 16px;
  font-weight: 400;
  font-size: 13px;
  line-height: 18.79px;
  letter-spacing: 0px;
}

/* Detail Page Component end */


/* Empty-page start */

.empty-page {
  background-color: white;
  margin-block: 32px 47px;
  margin-inline: 24px;
  padding-block: 76px;
  display: flex;
  align-items: center;
  flex-direction: column;
  border-radius: 10px;
  text-align: center;

  h3 {
    color: rgba(58, 67, 116, 1);
    font-family: Jost;
    font-weight: 700;
    font-size: 18px;
    line-height: 26.01px;
    letter-spacing: -0.25px;
    margin-block: 39px 12px;
  }

  p {
    color: rgba(100, 113, 150, 1);
    font-weight: 400;
    font-size: 13px;
    line-height: 18.79px;
    letter-spacing: 0px;
    margin-bottom: 24px;
    padding-inline: 24px;
  }

  button {
    background-color: rgba(173, 31, 234, 1);
    color: white;
    padding: 16px 10.5px;
    font-weight: 700;
    font-size: 13px;
    line-height: 18.79px;
    border: none;
    border-radius: 10px;
  }
}

/* Empty Page end */



/* akif bitiş */

.headerText {
  padding-block: 15px;
  color: #FFFFFF;

  h5 {
    font-weight: 700;
    font-size: 15px;
    line-height: 21.68px;
    letter-spacing: -0.19px;
  }

  p {
    font-weight: 500;
    font-size: 13px;
    line-height: 18.79px;
    letter-spacing: 0px;
  }
}

.hamburger-menu-overlay.block::before {
  content: '';
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.hamburger-menu-content.block {
  position: absolute;
  z-index: 20;
  height: 100vh;
  width: 271px;
  top: 72px;
  right: 0;
  background-color: #F7F8FD;
  padding: 24px;
  transition: transform 0.3s ease-in-out;
  transform: translateX(0);
}

.hamburger-menu {
  width: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 24px;
  top: 60px;
  transform: translateY(-50%);
  z-index: 30;

  .categories {
    background-color: #fff;
    border-radius: 10px;
    padding: 24px 18px 36px 24px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 12px;
  
    button {
      background-color: #F2F4FF;
      color: #4661E6;
      font-weight: 600;
      font-size: 13px;
      line-height: 18.79px;
      letter-spacing: 0px;
      border: none;
      padding: 5px 16px;
      border-radius: 10px;
    }
    
    button:active,
    button:focus {
      background-color: #4661E6;
      color: #fff;
    }
    
    button:hover {
      background-color: #CFD7FF;
    }
  }
}




.hamburger-menu-overlay.none,
.hamburger-menu-content.none {
  display: none;
}

.hamburger-menu-overlay.block,
.hamburger-menu-content.block {
  display: block;
}


.commentsList {
  list-style: none;
  padding: 0;
}

.commentAuthor {
  display: flex;
  flex-direction: column;
}

.addComment {
  background: white;
  padding: 20px;
  border-radius: 8px;
}

.addComment form {
  display: flex;
  flex-direction: column;
}

.addComment textarea {
  width: 100%;
  height: 80px;
  border-radius: 5px;
  border: 1px solid #ccc;
  padding: 10px;
  font-size: 14px;
  resize: none;
}

.commentFooter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
}

.commentFooter p {
  font-size: 14px;
  color: #666;
}

.commentFooter button {
  background: #4661E6;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}

.commentFooter button:disabled {
  background: #b3b3b3;
  cursor: not-allowed;
}

/* omer baslangic*/
.upvote-section {
  display: flex;
  gap: 10px;
  align-items: center;
  background-color: #F2F4FE;
  border-style: none;
  padding: 6px 14px;
  cursor: pointer;

}

.upvote-section:hover {
  background-color: #cfd7ff;
  color : #3A4374;
}

.upvote-section p {
  font-weight: 700;
  font-size: 13px;
  line-height: 18.79px;
  letter-spacing: -0.18px;
  text-align: center;
  color : #3A4374;
}

/* omer bitis */

/* buse başlangıç */

.roadmapPageHeader {
  display: flex;
  background-color: #373f68;
  padding: 26px 24px;
  justify-content: space-between;

  .addFeedbackBtnRoadmap {
    font-family: Jost;
    font-weight: 700;
    font-size: 13px;
    line-height: 18.79px;
    letter-spacing: 0px;
    color: #f2f4fe;
    width: 134px;
    height: 40px;
    background-color: #ad1fea;
    border-radius: 10px;
    border: none;
    align-self: center;
  }
}

.roadmapNavigation {
  ul {
    display: flex;
    padding: 0px;
    list-style: none;
    justify-content: space-between;
    border-bottom: 1px solid black;

    li {
      padding-block: 20px;
    }
  }
}

.roadmapGoBack {
  display: flex;
  flex-direction: column;
  gap: 3px;

  h5 {
    font-family: Jost;
    font-weight: 700;
    font-size: 18px;
    line-height: 26.01px;
    letter-spacing: -0.25px;
    color: white;
  }

  .goBackBtnRoadmap {
    display: flex;
    align-items: center;
    gap: 15.67px;

    span {
      font-family: Jost;
      font-weight: 700;
      font-size: 13px;
      line-height: 18.79px;
      letter-spacing: 0px;
      color: white;
    }
  }
}


/* buse bitiş */
@media (width >= 768px) {

  .hamburger-menu-overlay, .hamburger-menu {
    display: none;
  }

  /* buse başlangıç */
  .filteredFeedbacks {
    display: flex;
  }

  /* buse bitiş */
  
}

@media (width >= 1110px) {
  
}