@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');

.suggestionsPageHeader {
  background: radial-gradient(128.88% 128.88% at 103.9% -10.39%, #E84D70 0%, #A337F6 53.09%, #28A7ED 100%);
  display: flex;
  justify-content: space-between;
  padding-inline: 24px;
  position: relative;
  z-index: 12;

  img {
    padding-block: 27px;
    cursor: pointer;
  }
}

.headerText {
  padding-block: 15px;
  color: #FFFFFF;

  h5 {
    font-weight: 700;
    font-size: 15px;
    line-height: 21.68px;
    letter-spacing: -0.19px;
  }

  p {
    font-weight: 500;
    font-size: 13px;
    line-height: 18.79px;
    letter-spacing: 0px;
  }
}

.hamburger-menu-overlay.block::before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10;
}

.hamburger-menu-content.block {
  position: absolute;
  top: 100%;
  right: 0;
  width: 271px;
  background-color: #fff;
  transition: transform 0.3s ease;
  transform: translateY(10px);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  z-index: 10;
}

.hamburger-menu {
  width: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 11;
  position: relative;
}

.hamburger-menu-overlay.none,
.hamburger-menu-content.none {
  display: none;
}

@media (width >= 768px) {

  .hamburger-menu-overlay, .hamburger-menu {
    display: none;
  }
  
}

@media (width >= 1110px) {
  
}